extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Matt Coale

        p Full Stack JavaScript Developer


        .about-bio

          p  I'm currently a Treehouse Full Stack JavaScript Techdegree Student, with a background in the tech industry. I have always been heavily involved with computers, including game design and web design. At the young age of 16 I organized a group of aspiring game developers, collaborating and managing multiple small game projects. As an adult, working in various tech and non-tech fields has vastly helped grow my communication, troubleshooting, and problem-solving skills. I'm looking for a job that will allow me to continue my growth as a developer by challenging and putting my skills to the test.

      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Atom
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express.js
          li Pug
          li React
          li SQL

        h6 Contact Info

        ul
          li MatthewRCoale@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/matt-coale/') LinkedIn
        a.btn-link(href='https://github.com/Hosamov') GitHub
        a.btn-link(href='https://twitter.com/mcoale84') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back
