extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Matt Coale

        p Full Stack JavaScript Developer

        .about-bio

          p  I am a Treehouse Full Stack JavaScript Techdegree graduate with a background in technology. I am passionate about solving problems and making things work, especially when it comes to computers. At the age of 16 I organized and lead an online group of young indie game developers, collaborating and managing multiple small game projects that created a development spark in me that hasn't faded since. As an adult, working in various tech and non-tech fields has vastly helped grow my communication, troubleshooting, and problem-solving skills that have helped tremendously on my journey to learn and understand JavaScript. I'm looking for a career that will allow me to continue my growth as a developer by challenging and putting my skills to the test.

      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Atom
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express.js
          li Pug
          li React
          li SQL

        h6 Contact Info

        ul
          li MatthewRCoale@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/matt-coale/') LinkedIn
        a.btn-link(href='https://github.com/Hosamov') GitHub
        a.btn-link(href='https://twitter.com/mcoale84') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back
