extends layout.pug

block content

  article.portfolio-intro

    h1 My Full Stack JavaScript Portfolio

    p Welcome! Please take a look at some of the amazing applications I've built, below. Thank you for visiting!


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects

        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt='image thumbnail')
            h5= project.project_name
