extends layout.pug

block content

  article.portfolio-intro

    h1 Check Out Some of My Cool Projects

    p Welcome! I'm Matt Coale and this portfolio app showcases some of the projects i've created on my Full Stack JavaScript journey thus far. Thank you for visiting! 


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects

        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt='image thumbnail')
            h5= project.project_name
